.accordionAnimation {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.7s ease-in-out, transform 0.9s ease-in-out;
}

.slider::-webkit-slider-thumb {
  background-color: #1fb800 !important;
}

.form-switch .form-check-input:checked {
      background-color: #1fb800 !important; 
      border-color: #1fb800 !important;
}

.header-shadow {
    box-shadow: 5px 5px 10px rgba(8, 8, 8, 0.3);
}